@import 'variables';
// Bootstrap

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap-vue/src/index.scss';


// Loading Overlay
@import '~vue-loading-overlay/dist/vue-loading.css';

// Icon awesome
@import "~font-awesome/css/font-awesome.css";

@import "calendar";

.page-item.active .page-link {
  background-color: $purple !important;
  border-color: $purple !important;
}
.page-link {
  color: #000000;
}
.page-link:hover {
  color: #000000;
}

.pointer {
  cursor: pointer;
}

.btn {
  color: #fff !important;
}

.btn-purpure {
  color: $white;
  background-color: $purple;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-purpure:hover {
  color: $white;
}
.btn-purpure:active {
  color: $white;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%) !important;
}

.btn-block {
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.vld-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 1
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  background: white;
}

.main-panel, .sidebar {
  overflow: auto;
  max-height: 100%;
  height: 100vh;
  transition-property: top,bottom;
  transition-duration: .2s,.2s;
  transition-timing-function: linear,linear;
  -webkit-overflow-scrolling: touch;
}

.sidebar, body>.navbar-collapse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 9999;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
}

.main-panel {
  background: #F8F8F8;
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}

.main-panel .navbar {
  margin-left: 260px;
}

.navbar-light {
  background: #fff;
}

@media (max-width: 991px) {
  .nav-open .main-panel, .sidebar {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
  }

  .main-panel, .nav-open .sidebar {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
  }

  .sidebar {
    right: 0!important;
    left: auto;
    position: fixed;
    -webkit-transform: translate3d(262px,0,0);
    transform: translate3d(262px,0,0)!important;
  }
  .main-panel {
    width: 100%;
  }

  .main-panel .navbar {
    margin-left: 0px;
  }

  .nav-open .main-panel {
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(-250px,0,0);
    transform: translate3d(-250px,0,0)!important;
  }

  .nav-open .sidebar {
    -webkit-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0)!important;
  }
}


.list-group .router-link-active {
  color: #6a1b9a!important;
}



.list-group a:hover:before {
  background: #6a1b9a80 !important;
  opacity: .12;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

.list-group a.router-link-active:before {
  background: #6a1b9a!important;
  opacity: .12;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

a.list-group-item {
  margin-bottom: 0.2rem;
}


.list-group.border-none {
  .list-group-item {
    border: none;
  }
}

.list-group a {
  color: #000;
  font-weight: 400;
}
button:focus:not(:focus-visible),
button:focus {
  outline: none;
  box-shadow: none;
}

.page-item.active .page-link {

}

a.list-group-item:hover {
  text-decoration: none;
}
a.list-group-item i{
  width: 20px;
}

.custom-file-label::after:lang(ru) {
  content: 'Выбрать';
}
