@import 'variables';
// Bootstrap

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap-vue/src/index.scss';


// Loading Overlay
@import '~vue-loading-overlay/dist/vue-loading.css';

// Icon awesome
@import "~font-awesome/css/font-awesome.css";

@import "calendar";

@import "table";
@import "pets";
@import "chat";
@import "~vue-select/dist/vue-select.css";

@import '~vue-advanced-cropper/dist/style.css';

@import '~ant-design-vue/dist/antd.css';

body {
  background: #F8F8F8;
}

.ant-select {
  width: 100%;
  &-selection {
    display: block;
    width: 100%;
    min-height: calc(1.6em + 0.75rem + 6px);
    padding: 2px 0.75rem;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {

}
.anticon {
  vertical-align: 0px;
}
.ant-select-selection__choice {
  display: flex !important;
  border: 0px;
}
.ant-select-selection--multiple .ant-select-selection__choice {
  padding: 0 20px 0 2px;
}
.ant-select-selection--multiple .ant-select-selection__choice__content {
  align-items: center !important;
  display: flex !important;
}
.ant-select-selection__choice__content {
  .tag-color {
    height: 20px;
    min-width: 20px;
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 10px;
    margin-right: 5px;
    line-height: 20px;
  }
}
.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li
{
  margin-top: 2px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2px;
}
.ant-select-selection--multiple .ant-select-selection__choice__remove {
  line-height: 29px;
}
.ant-select-dropdown-menu-item {
  &-tags {
    display: flex;
    &-code_title {
      height: 20px;
      min-width: 20px;
      padding: 0px 6px;
      font-size: 12px;
      border-radius: 10px;
      margin-right: 5px;
      line-height: 20px;
    }
  }
}
.add-tag {
  position: sticky;
  padding: 6px 12px;
  box-sizing: border-box;
  color: rgb(41, 205, 87);
  border-bottom: 1px solid rgb(233, 236, 239);
  font-size: 14px;
  cursor: pointer;
}
.ant-select-selection__rendered {
  line-height: 36px;
  margin-left: 0px;
}

//.popup-open {
//  overflow-y: hidden;
//  position: fixed;
//
//  @media (min-width: 991px) {
//    .main-panel {
//      padding-left: 260px;
//      width: 100vw;
//    }
//  }
//}

.modal-dialog {
  margin-top: 60px !important;
}

.modal-dialog-scrollable {
  max-height: calc(100% - 1rem - 60px);
}

.page-item.active .page-link {
  background-color: $purple !important;
  border-color: $purple !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $purple !important;
}

.page-link {
  color: #000000;
}
.page-link:hover {
  color: #000000;
}

.pointer {
  cursor: pointer !important;
}

.btn {
  color: #fff !important;
}

.btn-purpure {
  color: $white;
  background-color: $purple;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-purpure:hover {
  color: $white;
}
.btn-purpure:active {
  color: $white;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%) !important;
}

.btn-block {
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.vld-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 1
}

.wrapper {
  //position: relative;
  //top: 0;
  //height: 100vh;
}

.sidebar {
  background: white;
}

.main-panel, .sidebar {
  overflow: auto;
  //min-height: 100vh;
  transition-property: top,bottom;
  transition-duration: .2s,.2s;
  transition-timing-function: linear,linear;
  -webkit-overflow-scrolling: touch;
}

.sidebar, body>.navbar-collapse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 999;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1029;
}

.main-panel {
  background: #F8F8F8;
  position: relative;
  float: right;
  width: calc(100% - 260px);
}

.main-panel .navbar {
  margin-left: 260px;
}

.navbar-light {
  background: #fff;
}

@media (max-width: 991px) {
  .nav-open .main-panel, .sidebar {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
  }

  .main-panel, .nav-open .sidebar {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
  }

  .sidebar {
    right: 0!important;
    left: auto;
    position: fixed;
    -webkit-transform: translate3d(262px,0,0);
    transform: translate3d(262px,0,0)!important;
  }
  .main-panel {
    width: 100%;
  }

  .main-panel .navbar {
    margin-left: 0px;
  }

  .nav-open .main-panel {
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(-250px,0,0);
    transform: translate3d(-250px,0,0)!important;
  }

  .nav-open .sidebar {
    -webkit-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0)!important;
  }
}


.list-group .router-link-active {
  color: #6a1b9a!important;
}



.list-group a:hover:before {
  background: #6a1b9a80 !important;
  opacity: .12;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

.list-group a.router-link-active:before {
  background: #6a1b9a!important;
  opacity: .12;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

a.list-group-item {
  margin-bottom: 0.2rem;
}


.list-group.border-none {
  .list-group-item {
    border: none;
  }
}

.list-group a {
  color: #000;
  font-weight: 400;
}
button:focus:not(:focus-visible),
button:focus {
  outline: none;
  box-shadow: none;
}

.page-item.active .page-link {

}

a.list-group-item:hover {
  text-decoration: none;
}
a.list-group-item i{
  width: 20px;
}

.custom-file-label::after:lang(ru) {
  content: 'Выбрать';
}
.nav-item a {
  color: $purple;
}

.card-footer {
  background-color: rgba(0,0,0,0);
}

.vs__dropdown-toggle {
  height: calc(1.6em + 0.75rem) !important;
  border: none !important;
  padding: 0 0 4px !important;
}

.vs--single.vs--open .vs__selected {
  padding-top: 3px;
}

.v-select {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.date-button {
  .input-group-text {
    background-color: #eaf8ff;
    color: #3182ce
  }
}

.btn-rounded {
  border-radius: 46px;
  padding: 10px 15px;
}
.btn-hint-white {
  background-color: #F3F3F4;
  color: #161616 !important;
}
.color-mark-picker {
  .btn {
    margin: 0px !important;
    padding: 0px;
    height: 40px;
  }
  .dropdown-menu {
    background-color: unset;
    border: 0px;
    padding: 0px !important;
  }
}

.form-control {
  height: calc(1.6em + 0.75rem + 6px);
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
}
.text-hint {
  color: #9EA2B1;
}
