.cl {
    &-header {
        flex: none;
        display: flex;
    }
    &-view-bottom {
        display: flex;
        overflow: hidden;
        flex: 1 1 60%;
        position: relative;
        flex-direction: column;
    }
    &-day {
        flex: 1 1 auto;
        width: 0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    &-hour {
        height: 40px;
        border-bottom: 1px solid #e0e0e0;
    }
    &-hour-list {
        flex: none;
        width: 44px;
        border-right: 1px solid #e0e0e0;
        .cl-hour {
            height: 80px;
        }
    }
    &-view-container {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        height: 100%;
    }
    &-view-bottom {
        .cl-day {
            border-bottom: 0px !important;
            position: relative;
        }
    }
    &-view-scrollable {
        overflow-y: scroll;
        flex: 1 1 auto;
        display: flex;
        align-items: flex-start;
    }
    &-view-pane {
        width: 100%;
        overflow-y: hidden;
        flex: none;
        display: flex;
        align-items: flex-start;
    }
    &-week {
        display: flex;
        flex: 1;
        width: 100%;
        height: 100%;
    }
    &-event {
        margin: 1px;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: .5em;
        font-size: 12px;
        position: absolute;
        right: 0;
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        &-menu {
            align-items: center;
            cursor: pointer;
            position: relative;
        }
    }
}
