.chat {
  &-body{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }
  &-input {
    border-top: 1px solid #dee2e6 !important;
    &-message {
      resize: none;
      border: 0px;
      width: 100%;
      &:focus-visible {
        box-shadow: none !important;
        outline: 0px;
      }
    }
  }
  &-message {
    &-box {
      &-my {
        background: #f1f1f1;
        color: #000000;
        border-radius: 0px 12px 12px 12px;
        padding: 10px;
      }
      &-other {
        background: #e2edfc;
        border-radius: 0px 12px 12px 12px;
        color: #000;
        padding: 10px;
      }
    }
  }
}
